<div class="search-bar">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input #searchBarInput matInput [type]="selectedKey === 'id' ? 'number' : 'text'">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Search By</mat-label>
        <mat-select [(ngModel)]="selectedKey" (ngModelChange)="handleCriteriaChange($event)">
            <mat-option value="id">ID</mat-option>
            <mat-option value="name">Name</mat-option>
            <mat-option value="occupation">Occupation</mat-option>
            <mat-option value="email">Email</mat-option>
            <mat-option value="bio">Bio</mat-option>
        </mat-select>
    </mat-form-field>
</div>
