<form (ngSubmit)="handleLogin()">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailForm" [errorStateMatcher]="matcher" />
        @if (emailForm.hasError('email') && !emailForm.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
        }
    </mat-form-field>
    <button
        mat-stroked-button
        type="submit"
        color="primary"
        class="action-btn"
    >
        <div class="btn-content">
            @if (isLoading) {
                <mat-spinner [diameter]="20" />
            }
            Login
        </div>
    </button>
</form>
