<app-user-search-bar [(filter)]="filter" (filterChange)="updateDisplayedUsers()" />

<a
    mat-stroked-button
    color="primary"
    routerLink="new"
>
    Add a new user
</a>

<mat-card>
    <mat-card-content>
        <mat-list>
            @for (user of displayedUsers; track user.id) {
                <mat-list-item>
                    <app-user-item [user]="user"></app-user-item>
                </mat-list-item>
            } @empty {
                <mat-list-item>
                    @if (filter !== null) {
                        No users matching
                    } @else {
                        No users
                    }
                </mat-list-item>
            }
        </mat-list>
    </mat-card-content>
    <mat-divider />
    <mat-card-footer>
        <mat-paginator
            [pageIndex]="page.index"
            [pageSize]="page.size"
            [pageSizeOptions]="pageSizeOptions"
            [length]="page.length"
            (page)="handlePageChange($event)"
        />
    </mat-card-footer>
</mat-card>
