@if (user) {
    <mat-card class="card">
        <mat-card-header class="card-header">
            <img
                matCardAvatar
                [ngSrc]="'https://robohash.org/' + user.id"
                [alt]="'User ' + user.id + '\'s avatar'"
                class="avatar"
                [ngStyle]="{ viewTransitionName: 'avatar-' + user.id }"
                width="75"
                height="75"
                loading="lazy"
            />
            <mat-card-title class="card-title">
                {{ user.name }}
                <app-user-chip [isCurrentUser]="isCurrentUser()" />
            </mat-card-title>
            <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <div>
                <strong>Occupation:</strong>
                {{ user.occupation }}
            </div>

            <div>
                <strong>Biography:</strong>
                {{ user.bio }}
            </div>
        </mat-card-content>
        <mat-card-actions [align]="'end'">
            <a
                mat-stroked-button
                color="primary"
                class="action-btn"
                routerLink="edit"
            >
                Edit
            </a>
            <div
                [matTooltip]="isCurrentUser() ? 'You cannot delete yourself' : ''"
                [matTooltipDisabled]="!isCurrentUser()"
            >
                <button
                    mat-stroked-button
                    color="warn"
                    class="action-btn"
                    (click)="handleDelete(user)"
                    [disabled]="isCurrentUser()"
                >
                    <div class="btn-content">
                        @if (isLoading) {
                            <mat-spinner [diameter]="20" />
                        }
                        Delete
                    </div>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
} @else {
    <div>
        <strong>Oh snap!</strong> There is no user with that ID.
    </div>
}
